<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="/">
          <center><img src="/public/profile_picture.jpg" alt="mmj" class="inline" style="width:4.3em; height:4.3em;" /></center>
          {{ site.title }}
        </a>
      </h1>
      <p class="text-small">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == / %} active{% endif %}" href="/">About</a>
      <a class="sidebar-nav-item{% if page.url == /research %} active{% endif %}" href="/research">Research</a>
      <a class="sidebar-nav-item{% if page.url == /research %} active{% endif %}" href="/pubs">Publications</a>
      <a class="sidebar-nav-item{% if page.url == /scicomm %} active{% endif %}" href="/scicomm">Science Communication</a>
      
<br>
	    
    <nav class="sidebar-social">
      <a href="mailto:maya.juman@aya.yale.edu" title="Send Email"><i class="fas fa-envelope-square fa-lg"></i></a>
      <a href="https://twitter.com/mayajuman" target="_blank" title="Twitter"><i class="fab fa-twitter-square fa-lg"></i></a>
      <a href="https://github.com/mayajuman/" target="_blank" title="GitHub"><i class="fab fa-github fa-lg"></i></a>
      <a href="https://www.researchgate.net/profile/Maya-Juman-2" target="_blank" title="ResearchGate"><i class="fab fa-researchgate fa-lg"></i></a>
      <a href="https://orcid.org/0000-0002-0211-0655" target="_blank" title="ORCID"><i class="fab fa-orcid fa-lg"></i></a>
      <a href="https://scholar.google.com/citations?user=3AX60SkAAAAJ&hl=en&oi=ao" target="_blank" title="Google Scholar"><i class="fas fa-graduation-cap fa-lg"></i></a>
    </nav>
      
    </nav>
  </div>
</div>
